<h1>Piano</h1>
<div class="teclas">
  <a href="#" (click)="sonidos(1)" style="background-color: black">DO</a>
  <a href="#" (click)="sonidos(2)" style="background-color: white">RE</a>
  <a href="#" (click)="sonidos(3)" style="background-color: black">MI</a>
  <a href="#" (click)="sonidos(4)" style="background-color: white">FA</a>
  <a href="#" (click)="sonidos(5)" style="background-color: black">SOL</a>
  <a href="#" (click)="sonidos(6)" style="background-color: white">LA</a>
  <a href="#" (click)="sonidos(7)" style="background-color: black">SI</a>
</div>

