h1 {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.teclas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  flex: 1 1 auto;
  width: 500px;
  height: 300px;
  margin: auto;
}

.teclas p {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: end;
  text-decoration: none;
  font-weight: 500;
  flex: 1 1 auto;
  transition: transform 0.2s ease-out;
  color: white;
}

.teclas p:nth-child(1n):hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px red;
}

.teclas p:nth-child(2n) {
  color: black;
}

.teclas p:nth-child(2n):hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px blue;
}
